/* Base */
@import url(https://static.typepad.com/.shared/themes/common/base-weblog.css);

@import url(https://static.typepad.com/.shared/themes/common/bxslider.css);
@import url(https://static.typepad.com/.shared/css/widgets.css);
@import url(https://static.typepad.com/.shared/themes/common/recentpostsfancy.css);

/* Tip Jar */
@import url(https://static.typepad.com/.shared/themes/common/tipjar.css);

/* Portal */


/* Theme */
@import url(https://static.typepad.com/.shared/themes/walt/theme-asterisk_white_wide.css);






/* Custom CSS */
a { color: #003366; }
a:hover { color: #336699; }

.module-content a { color: #003366; }
.module-content a:hover { color: #336699; }

#container { width: 940px !important; }
#container-inner { border-width: 0 !important; }

#banner
{
	height: 142px !important;
	border-top-width: 0 !important;
	/* border-top-color: #000; */
	background-color: #fff;
	background:
		url(https://revolution-computing.typepad.com/imagesRev/logo-microsoft-white-transparent.png) no-repeat 851px 14px,
		url(https://revolution-computing.typepad.com/imagesRev/blog-header_20160829.jpg) no-repeat top left;
}

#banner a { color: #fff; }

#banner-inner {
	border-top-width: 0 !important;
	/* border-top-color: #fff; */
}

/*
#banner-header { color: #fff; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }
#banner-description { color: #fff; font-family: Trebuchet MS, Arial, Helvetica, sans-serif;  font-size: 14px; font-style: normal; font-weight: bold; }
*/

.entry { background-image: url(https://revolution-computing.typepad.com/imagesRev/revbullet.png); }

body, h1, h2, h3, h4, h5, h6, p, ul, li, #banner-header, #banner-description
{
	font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
#banner-header
{
	font-family: 'Segoe Light', 'Segoe UI Light', Segoe, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	color: #fff;
	font-size: 62px;
	font-weight: 100 !important;
	padding: 18px 20px 5px 26px;
}
#banner-description {
	color: #fff;
	font-size: 15px;
	line-height: 19px;
	font-weight: 400 !important;
	font-style: normal;
	padding: 5px 20px 35px 28px;
	width: 66%;
}
a { font-family: inherit !important; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }







/* ph=1 */
